In [1]:
import sys
sys.path.append('..')
import os
import numpy as np
import pandas as pd
from sides_matching import amvrakikos, reunion_green, reunion_hawksbill, zakynthos

root_data = '/data/wildlife_datasets/data'
data = [
    ('Amvrakikos', os.path.join(root_data, 'AmvrakikosTurtles'), amvrakikos),
    ('ReunionGreen', os.path.join(root_data, 'ReunionTurtles'), reunion_green),
    ('ReunionHawksbill', os.path.join(root_data, 'ReunionTurtles'), reunion_hawksbill),
    ('Zakynthos', os.path.join(root_data, 'ZakynthosTurtles'), zakynthos),
]

/home/sadda/Projects/sides-matching/venv/lib/python3.10/site-packages/kornia/feature/lightglue.py:44: FutureWarning: `torch.cuda.amp.custom_fwd(args...)` is deprecated. Please use `torch.amp.custom_fwd(args..., device_type='cuda')` instead.
  @torch.cuda.amp.custom_fwd(cast_inputs=torch.float32)

In [2]:
def get_summary(df):
    spans = []
    for _, df_identity in df.groupby('identity'):
        span = df_identity['year'].max() - df_identity['year'].min()
        spans.append(span)

    data = {
        'Ind.': df['identity'].nunique(),
        'Photos': len(df),
        'Avg. span': np.mean(spans),
    }
    return data

In [3]:
summary = {}
for name, root, dataset_class in data:
    dataset = dataset_class(root)
    summary[name] = get_summary(dataset.df)

summary = pd.DataFrame(summary).T
summary[['Ind.', 'Photos']] = summary[['Ind.', 'Photos']].astype(np.int64)
summary

                  Ind.  Photos  Avg. span
Amvrakikos          50     200   4.440000
ReunionGreen        50     200   4.680000
ReunionHawksbill    34     136   3.411765
Zakynthos           40     160   2.525000